// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;700;900&display=swap');
// Common
@import 'common';
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* COMMONS ROULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
}

img {
    max-width: 100%;
}


/* UTILITIES */

.bg_grey {
    background-color: $grey;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

.bg_primary {
    background-color: $bg_primary;
}

.no-gutter {
    --bs-gutter-x: 0rem;
}

.w_100 {
    width: 100%;
}

.h_400 {
    height: 400px;
}

.w_fix {
    width: fit-content;
}

.p_relative {
    position: relative;
}

.p_fixed_maps {
    color: $primary_color;
    position: fixed;
    z-index: 3;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg_secondary {
    background-color: $bg_secondary
}

.font_size_big {
    font-size: 1.5rem;
}

.icon_color{
    color: $primary_color;
}

.card_hover{
    transition: all 600ms;
}

.card_hover:hover{
    transform: scale(1.2);
    position: relative;
    z-index: 2;
}