// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;700;900&display=swap');
// Common
@import 'common';
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* COMMONS ROULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
}

img {
    max-width: 100%;
}


/* UTILITIES */

.bg_grey {
    background-color: $grey;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

.bg_lightslategray {
    background-color: lightslategray;
}

.no-gutter {
    --bs-gutter-x: 0rem;
}